<app-table-master
  [columnCount]="5"
>
  <!--Title and Reload, and Search Button-->
  <ng-container>
    <app-table-cell
      [tableCell]="customCell"
      [extendedClasses]="['col-span-full']"
    >
      <div
        class="
          flex
          justify-between
        "
      >
        <div
          class="
            text-xl
            font-semibold
          "
        >
          Contract List
        </div>
        <div
          class="
            flex
            gap-1
            items-center
          "
        >
          <amber-icon
            backgroundImageUrl="assets/refresh.svg"
            size="1.25em"
            (click)="reloadDataV2()"
          ></amber-icon>
          <amber-icon
            backgroundImageUrl="assets/search.svg"
            size="1.25em"
            (click)="displaySearch = true"
          ></amber-icon>
          <amber-modal
            [(display)]="displaySearch"
            [dismissAction]="reloadDataV2.bind(this)"
            title="Search"
          >
            <amber-dynamic-form
              [dynamicFormGroups]="dynamicFormGroups"
            >
            </amber-dynamic-form>
          </amber-modal>
        </div>
      </div>
    </app-table-cell>
  </ng-container>

  <!--Header-->
  <ng-container
  >
    <app-table-cell
      *ngFor="let headerCell of headerCells"
      [tableCell]="headerCell"
    ></app-table-cell>
  </ng-container>

  <!--Body-->
  <ng-container
    *ngFor="let cookedContract of cookedContracts"
  >
    <app-table-cell
      [tableCell]="customCell"
    >
      {{cookedContract.id}}
    </app-table-cell>
    <app-table-cell
      [tableCell]="customCell"
    >
      {{cookedContract.stateDisplay}}
    </app-table-cell>
    <app-table-cell
      [tableCell]="customCell"
    >
      {{cookedContract.customerData.fullName}} <br/>
      {{cookedContract.customerData.email}} <br/>
      {{cookedContract.customerData.phoneNumber}}
    </app-table-cell>
    <app-table-cell
      [tableCell]="customCell"
    >
      <div
        class="
          grid
          grid-cols-2
          gap-2
        "
      >
        <ng-container
          *ngFor="let vehicleUsage of cookedContract.vehicleUsages"
        >
          <div>
            {{vehicleUsage.typeDisplay}}
          </div>
          <div>
            {{vehicleUsage.bikeModelData.name}}
          </div>
        </ng-container>
      </div>
    </app-table-cell>
    <app-table-cell
      [tableCell]="customCell"
    >
      <div
        class="
          flex
          gap-1
        "
      >
        <amber-icon
          backgroundImageUrl="assets/zoom-in.svg"
          size="1.25em"
          (click)="cookedContract.displayDetails = true"
        ></amber-icon>
<!--        <amber-icon-->
<!--          backgroundImageUrl="assets/records.svg"-->
<!--          size="1.25em"-->
<!--          (click)="cookedContract.displayUsagesLog = true"-->
<!--        ></amber-icon>-->
        <amber-icon
          backgroundImageUrl="assets/dollar.svg"
          size="1.25em"
          (click)="cookedContract.displayPayments = true"
        ></amber-icon>
        <amber-icon
          backgroundImageUrl="assets/print.svg"
          size="1.25em"
          (click)="openDownload(cookedContract)"
        ></amber-icon>
        <amber-icon
          backgroundImageUrl="assets/view-show.svg"
          size="1.25em"
          *ngIf="cookedContract.visibility === 0"
          (click)="toggleContractVisibility(cookedContract)"
        ></amber-icon>
        <amber-icon
          backgroundImageUrl="assets/view-hide.svg"
          size="1.25em"
          *ngIf="cookedContract.visibility === 1"
          (click)="toggleContractVisibility(cookedContract)"
        ></amber-icon>
        <app-contract-details
          [(display)]="cookedContract.displayDetails"
          [cookedContract]="cookedContract"
        ></app-contract-details>
      </div>
    </app-table-cell>
  </ng-container>

  <ng-container>
    <div
      class="
        p-2
        col-span-full
        flex
        flex-row-reverse
      "
    >
      <amber-paginator
        [(current)]="current"
        [total]="total"
      ></amber-paginator>
    </div>
  </ng-container>
</app-table-master>

