<!DOCTYPE html>
<html
    lang="en" >
<head>
    <meta
        charset="utf-8"/>
    <meta
        content="width=device-width, initial-scale=1.0"
        name="viewport"/>
    <title>@ViewData["Title"] - EndUserView</title>
    <link
        href="~/lib/bootstrap/dist/css/bootstrap.min.css"
        rel="stylesheet"/>
    <link
        href="~/css/site.css"
        rel="stylesheet"/>
</head>
<body>
<header>
    <nav
        class="bg-light navbar navbar-expand-lg navbar-light" 
    >
        <div
            class="container-fluid" 
        >
            <a
                asp-area=""
                asp-page="/Index"
                class="navbar-brand" >
                <object
                    data="~/svg/500px-brands.svg"
                    style="width: 24px;"
                    type="image/svg+xml" 
                >
                </object>
            </a>
            <button
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbarSupportedContent"
                data-bs-toggle="collapse"
                type="button" 
            >
                <span
                    class="navbar-toggler-icon" >
                </span>
            </button>
            <div
                class="collapse navbar-collapse justify-content-between"
                id="navbarSupportedContent" 
            >
                <ul
                    class="mb-2 mb-lg-0 me-auto navbar-nav justify-content-center flex-row" 
                >
                    @foreach (var headerButtonData in AdministrationViewProvider.GetHeaderButtonsData(language: "en"))
                    {
                        <li
                            class="nav-item" >
                            <a
                                asp-area=""
                                asp-page="@headerButtonData.Reference"
                                class="nav-link" >
                                @headerButtonData.Content
                            </a>
                        </li>
                    }
                </ul>
                <form
                    class="d-flex" >
                    <input
                        aria-label="Search"
                        class="form-control me-2"
                        placeholder="Search"
                        type="search" >
                    <button
                        class="btn btn-outline-success"
                        type="submit" >
                        Search
                    </button>
                </form>
            </div>
        </div>
    </nav>
</header>
<div
    class="container" >
    <main
        class="pb-3"
        role="main" >
        @RenderBody()
    </main>
</div>

<footer
    class="border-top footer text-muted" >
    <div
        class="container" 
    >
        &copy; 2021 - EndUserView - <a asp-area="" asp-page="/Privacy" > Privacy </a>
    </div>
</footer>

<script
    src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" ></script>
@*
<script
    src="~/js/site.js"
    asp-append-version="true"
></script>
*@

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>