<div
  class="
    bg-amber-600
    h-20
    flex
    items-center
    text-white
    font-semibold
    uppercase
    pl-12
    pr-12
  "
>
  <!--Left logo image-->
  <img
    src="assets/logo.png"
    class="
      h-16
      mb-2
      mt-2
      ml-4
      mr-4
      flex-initial
    "
  />
  <!--Padding block-->
  <div
    class="
      flex-auto
    "
  >
  </div>
  <!--Middle block-->
  <div
    class="
      flex-initial
      flex
    "
  >
    <a
      *ngFor="let item of items"
      class="
        flex-initial
        mr-4
        ml-4
      "
      [href]="item.reference"
    >
      {{item.text}}
    </a>
  </div>
  <!--Padding block-->
  <div
    class="
      flex-auto
    "
  >
  </div>
  <!--Right block-->
  <div
    class="
      flex-initial
      mb-2
      mt-2
      ml-4
      mr-4
    "
  >
    Something
  </div>
</div>
