<div
  style="grid-template-columns: repeat(2, max-content)"
  class="
    grid
    gap-y-2
    gap-x-8
  "
>
  <!--Bike Model-->
  <ng-container>
    <div>
      Bike Model
    </div>
    <div>
      <select
        amberCommonSelect
        [(ngModel)]="vehicleUsage.bikeModelId"
        (ngModelChange)="changeBikeModelOption($event); updateNumberPlateOptions()"
      >
        <option
          *ngFor="let bikeModelOption of bikeModelOptions"
          [ngValue]="bikeModelOption.bikeModelId"
        >
          {{bikeModelOption.bikeModelData.name}}
        </option>
      </select>
    </div>
  </ng-container>

  <!--Type-->
  <ng-container>
    <div>
      Type
    </div>
    <div>
      <select
        [(ngModel)]="vehicleUsage.type"
        amberCommonSelect
      >
        <option
          *ngFor="let vehicleUsageType of vehicleUsage.bikeModelData.possibleUsageTypes"
          [ngValue]="vehicleUsageType"
        >
          {{vehicleUsageTypesMap[vehicleUsageType]}}
        </option>
      </select>
    </div>
  </ng-container>

  <!--Price-->
  <ng-container>
    <div>
      Price
    </div>
    <div>
      {{vehicleUsage.price}} USD
    </div>
  </ng-container>

  <!--Amount-->
  <ng-container>
    <div>
      Amount
    </div>
    <div
      class="
        flex
        items-center
        gap-2
      "
    >
      <amber-icon
        backgroundImageUrl="assets/minus.svg"
        size="1em"
        (click)="popNumberPlate()"
      ></amber-icon>
      <input
        type="number"
        class="
          text-center
          w-12
          outline-none
          border-2
          rounded
          flex-initial
        "
        [valueAsNumber]="vehicleUsage.amount"
      />
      <amber-icon
        backgroundImageUrl="assets/plus.svg"
        size="1em"
        (click)="addNumberPlate()"
      ></amber-icon>
    </div>
  </ng-container>

  <!--Number Plate(s)-->
  <ng-container
  >
    <div>
      Number Plate(s)
    </div>
    <div
      style="grid-template-columns: repeat(2, max-content)"
      class="
        grid
        gap-2
        items-center
      "
    >
      <ng-container
        *ngFor="let numberPlate of vehicleUsage.numberPlates; let index = index"
      >
        <div
        >
          <select
            style="width: 12em;"
            amberCommonSelect
            [(ngModel)]="vehicleUsage.numberPlates[index]"
          >
            <option
              *ngFor="let numberPlateOption of numberPlateOptions"
              [value]="numberPlateOption.key"
            >
              {{numberPlateOption.label}}
            </option>
          </select>
        </div>
        <div>
          <amber-icon
            backgroundImageUrl="assets/trash.svg"
            size="1em"
            (click)="removeNumberPlate(index)"
          ></amber-icon>
        </div>
      </ng-container>

      <div
        class="
          col-span-full
          flex
          flex-row-reverse
        "
      >
        <amber-icon
          backgroundImageUrl="assets/add-solid.svg"
          [action]="addNumberPlate.bind(this)"
          size="1em"
        ></amber-icon>
      </div>
    </div>
  </ng-container>
  <!--Date Start-->
  <ng-container
    *ngIf="vehicleUsage.type <= vehicleUsageTypesEnum.MonthlyRental"
  >
    <div>
      Date Start
    </div>
    <div
      class="
        cursor-pointer
        select-none
        underline
      "
    >
      {{vehicleUsage.dateStartDisplay}}
    </div>
  </ng-container>

  <!--Date End-->
  <ng-container
    *ngIf="vehicleUsage.type <= vehicleUsageTypesEnum.MonthlyRental"
  >
    <div>
      Date End
    </div>
    <div
      class="
        cursor-pointer
        select-none
        underline
      "
    >
      {{vehicleUsage.dateEndDisplay}}
    </div>
  </ng-container>

  <!--Range Picker-->
  <ng-container
  >
    <div
      class="
        col-span-2
      "
    >
      <app-range-picker-box
        [(pickedDates)]="pickedDates"
        [datePickingMode]="vehicleUsage.usageId === 0 ? 'create' : 'edit'"
        [display]="vehicleUsage.type <= vehicleUsageTypesEnum.MonthlyRental"
      ></app-range-picker-box>
    </div>
  </ng-container>

  <!--Day Count-->
  <ng-container
    *ngIf="vehicleUsage.type <= vehicleUsageTypesEnum.MonthlyRental"
  >
    <div>
      Day Count
    </div>
    <div>
      {{vehicleUsage.dayCount}}
    </div>
  </ng-container>

  <!--Month Count-->
  <ng-container
    *ngIf="vehicleUsage.type === vehicleUsageTypesEnum.MonthlyRental"
  >
    <div>
      Month Count
    </div>
    <div>
      {{vehicleUsage.monthCount}}
    </div>
  </ng-container>

  <!--Total-->
  <ng-container>
    <div>
      Total
    </div>
    <div>
      {{vehicleUsage.total}} USD
    </div>
  </ng-container>

  <ng-container
    *ngIf="message"
  >
    <div
      class="
      col-span-2
    "
    >
      {{message}}
    </div>
  </ng-container>

  <!--Buttons-->
  <ng-container>
    <div
      class="
      col-span-2
      flex
      justify-center
      gap-2
      "
    >
      <amber-button
        [disableTabIndex]="true"
        backgroundColor="#b8d1c2"
        borderColor="#b8d1c2"
        (click)="cancelEventEmitter.emit()"
      >
        <amber-icon
          backgroundImageUrl="assets/close.svg"
          size="1em"
        ></amber-icon>
        <div>
          Cancel
        </div>
      </amber-button>
      <amber-button
        backgroundColor="#4bdb84"
        borderColor="#4bdb84"
        [disableTabIndex]="true"
        [action]="accept.bind(this)"
      >
        <amber-icon
          backgroundImageUrl="assets/checkmark.svg"
          size="1em"
          [disableTabIndex]="true"
        ></amber-icon>
        <div>
          Accept
        </div>
      </amber-button>
    </div>
  </ng-container>
</div>
