<app-layout-body-with-cover
  coverImageReference="https://images.unsplash.com/photo-1543499090-1ca121d92407?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80"
>
  <div
    class="
      flex
      p-2
    "
  >
    <div
      class="
        w-40
      "
    ></div>
    <div
      class="
        flex-auto
        flex
        flex-col
        gap-2
      "
    >
      <app-table-master
        title="Daily Rental Inside City"
      ></app-table-master>
      <app-table-master
        title="Daily Rental Traveling"
      ></app-table-master>
      <app-table-master
        title="Monthly Rental"
      ></app-table-master>
      <app-table-master-for-sale
        title="For Sale"
        [rows]="rowsForSale"
      ></app-table-master-for-sale>
    </div>
    <div
      class="
        w-40
      "
    ></div>
  </div>
</app-layout-body-with-cover>
