<div
  [style.background-color]="'#f5f4f1'"
  class="
    w-screen
    h-screen
    flex
    items-start
    justify-center
  "
  (keyup.enter)="login()"
>
  <div
    class="
      bg-amber-600
      rounded-lg
      mt-20
      p-4
      shadow-xl
    "
  >
    <div
      class="
        border
        rounded
        mb-2
      "
    >
      <input
        placeholder="Username"
        class="
          w-full
          rounded
          pl-2
          py-0.5
          outline-none
        "
        [formControl]="usernameFormControl"
      />
    </div>
    <div
      class="
        border
        rounded
        mb-2
      "
    >
      <input
        placeholder="Password"
        type="password"
        class="
          w-full
          rounded
          pl-2
          py-0.5
          outline-none
        "
        [formControl]="passwordFormControl"
      />
    </div>

    <div
      class="
        mt-4
        border
        rounded
        px-2
        text-center
        outline-none
        bg-amber-500
        hover:bg-amber-400
        hover:text-gray-600
        cursor-pointer
      "
      (click)="login()"
      (keyup.space)="login()"
      tabindex="0"
    >
      Login
    </div>

    <div
      *ngIf="message"
      class="
        text-sm
        text-center
        mt-2
      "
    >
      {{message}}
    </div>

  </div>
</div>
