<div
  class="
    flex
    flex-col
    space-y-1
  "
>
  <a
    [routerLink]="['/bike-details', item.id]"
    [state]="{item: item}"
  >
    <div
      [style.backgroundImage]="item.imageReference | urlWrap"
      style="
      "
      class="
        w-80
        h-60
        bg-center
        bg-cover
      "
    ></div>
  </a>
  <div
    style="
    "
    class="
      w-80
    "
  >
    <!--Title-->
    <div
      class="
        mt-2
        text-2xl
      "
    >
      {{item.name}}
    </div>
    <!--Price-->
    <div
      style="grid-template-columns: repeat(3, auto)"
      class="
        grid
        gap-1
        items-center
      "
    >
      <app-item-card-row
        label="Price for Sale:"
        value="{{item?.priceForSaleDisplay}}"
        *ngIf="item?.priceForSaleDisplay"
        icon="cart"
        [item]="item"
        itemStoreName="forSale"
      ></app-item-card-row>
      <app-item-card-row
        label="Price for Rent:"
        value="{{item?.priceForRentInsideCityDisplay}}/day inside city"
        *ngIf="item?.priceForRentInsideCityDisplay"
        icon="calendar"
        [item]="item"
        itemStoreName="dailyInsideCity"
      ></app-item-card-row>
      <app-item-card-row
        label=""
        value="{{item?.priceForRentTravelingDisplay}}/day traveling"
        *ngIf="item?.priceForRentTravelingDisplay"
        icon="calendar"
        [item]="item"
        itemStoreName="dailyTraveling"
      ></app-item-card-row>
      <app-item-card-row
        label=""
        value="{{item?.priceForRentMonthlyDisplay}}/month"
        *ngIf="item?.priceForRentMonthlyDisplay"
        icon="calendar"
        [item]="item"
        itemStoreName="monthly"
      ></app-item-card-row>
    </div>
  </div>
</div>
