<div
>
  {{label}}
</div>
<div
  class="
    font-semibold
    text-red-500
  "
>
  {{priceDisplay}}
</div>
<amber-icon
  *ngIf="icon === 'cart'"
  backgroundImageUrl="assets/cart-outline.svg"
  hoverBackgroundImageUrl="assets/cart-solid.svg"
  size="1.5em"
  (click)="addBikeSale()"
></amber-icon>
<amber-icon
  *ngIf="icon === 'calendar'"
  backgroundImageUrl="assets/calendar-outline.svg"
  hoverBackgroundImageUrl="assets/calendar-solid.svg"
  size="1.5em"
  (click)="toggleCalendar($event)"
></amber-icon>
