<app-layout-body-with-cover
  coverImageReference="https://miro.medium.com/max/4032/1*Yz1EWGb79fF-m9PzNAej7Q.jpeg"
>

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean scelerisque odio at sagittis aliquam. Mauris nibh
  sem, placerat quis turpis sed, bibendum hendrerit quam. Praesent tristique, erat ac luctus posuere, sem tellus
  tempor ante, sed rhoncus ex eros sed massa. Cras at porta mi. Integer nunc tortor, consequat sed tristique non,
  vestibulum vel lorem. Quisque sed lacinia lorem. Nulla facilisi. Suspendisse vestibulum nisi sed diam rutrum, non
  tincidunt orci malesuada. Proin tincidunt turpis laoreet ullamcorper vestibulum. Sed tincidunt fermentum sagittis.
  Vivamus cursus velit eu orci consequat varius. Praesent vel lectus et nisl dictum viverra a ac augue. Suspendisse
  enim erat, efficitur non venenatis eu, iaculis cursus mi. Suspendisse potenti.

  Aliquam sed pellentesque velit. Donec lorem lacus, dictum sed semper vitae, ultricies id tortor. Interdum et
  malesuada fames ac ante ipsum primis in faucibus. Donec eu feugiat neque. Nulla quis tincidunt massa. Nunc auctor
  pulvinar magna, at semper orci vehicula et. Etiam feugiat orci nec orci laoreet accumsan. Curabitur at turpis
  vulputate, tincidunt tellus ac, blandit eros. Cras varius ultrices purus, in cursus magna venenatis a. Etiam finibus
  tellus enim, sollicitudin auctor purus egestas eu. Nam sem ipsum, pretium sed convallis porta, interdum vel eros.

  In volutpat libero quis orci accumsan, non porta arcu feugiat. Praesent eleifend elit eget velit scelerisque, sit
  amet tempus eros hendrerit. Nulla tempor tellus id rhoncus consectetur. Sed malesuada tristique metus a semper.
  Curabitur ut massa blandit, congue augue id, commodo augue. Donec eget rutrum purus. Aenean venenatis venenatis
  augue, nec vestibulum felis tempor cursus. Integer porttitor felis eget blandit rutrum. Vestibulum et odio pharetra,
  ornare massa ac, mattis libero. Nulla eget dolor nisl. Nam venenatis a nisi sed laoreet. Aenean maximus egestas
  nulla, nec iaculis quam pharetra id. Fusce quis felis blandit est convallis scelerisque. Pellentesque porttitor leo
  ipsum.

  Vestibulum metus metus, vehicula eu risus sit amet, condimentum cursus augue. Nunc sit amet justo efficitur,
  accumsan elit at, viverra sem. Pellentesque eu velit sit amet dui pharetra ornare ut id magna. Proin vestibulum
  suscipit suscipit. Phasellus venenatis nisi aliquet, ullamcorper magna ut, blandit felis. In maximus lacus justo,
  quis imperdiet lorem vehicula id. Mauris at metus in ex cursus eleifend. Maecenas feugiat nunc at turpis efficitur
  commodo. Sed faucibus diam quis egestas aliquam. Nam orci tortor, tempus eget metus ut, dapibus aliquam turpis.
  Mauris nec condimentum lacus. Donec metus enim, eleifend non ante sed, laoreet commodo est.

  Sed id diam eros. Aenean ut malesuada tellus. Quisque sed lorem vel nunc pulvinar facilisis eget eget purus.
  Praesent mattis leo at ultrices venenatis. Ut sed auctor eros. Integer convallis, tortor a tristique tristique, nibh
  arcu vulputate massa, vel aliquam quam sapien posuere mauris. Vestibulum laoreet nibh non nisl auctor auctor. Morbi
  et eros dui. Curabitur varius tincidunt ligula eu pharetra. Integer faucibus iaculis leo, ac varius felis semper at.
  Nullam lacinia auctor risus, in placerat felis volutpat ac. Maecenas sed justo tristique, ultrices libero vel,
  finibus nunc. Morbi bibendum metus eget nulla faucibus euismod. Donec eget velit id velit sagittis pretium in et
  orci.

  Donec elementum a est in volutpat. Fusce commodo erat sed facilisis blandit. Vestibulum id justo odio. Donec
  ultrices auctor mauris laoreet blandit. Pellentesque ultrices nibh ut metus fermentum, eget gravida orci blandit.
  Morbi suscipit enim in lectus tempus consequat. Proin volutpat ornare lorem, vel fermentum massa cursus quis. Mauris
  pharetra quis ligula quis pellentesque. Suspendisse et felis tellus. Duis venenatis arcu lorem, et laoreet lorem
  iaculis vel. Pellentesque in accumsan neque, non hendrerit orci. Suspendisse porttitor ac elit in faucibus. Nullam
  leo massa, tempor ut aliquam vel, condimentum a dolor.

  Nullam et sem metus. Etiam aliquet magna neque, sed condimentum elit ultrices in. Quisque vel sollicitudin ipsum.
  Aenean cursus ante eget magna pretium varius. Quisque ultrices eleifend lacus a elementum. Sed ornare a mi in
  convallis. Nunc eget lacus odio. Nunc porttitor quis velit ac luctus.

  In iaculis at metus nec varius. Ut id ligula quis orci bibendum euismod. Lorem ipsum dolor sit amet, consectetur
  adipiscing elit. Nam consectetur tempor odio, vitae maximus quam scelerisque quis. Curabitur pretium diam mi, in
  fermentum justo egestas vitae. Proin consequat eros sapien, at iaculis nisi iaculis at. Pellentesque justo velit,
  tempor et diam sed, commodo dignissim lectus. Mauris mollis turpis vitae semper condimentum. Vestibulum lacus
  mauris, lobortis non condimentum sed, bibendum in sapien. Curabitur ut magna fermentum, tristique lacus et,
  fermentum mi. Praesent vel nisi nunc. Ut nec vehicula libero, at blandit sapien. Duis et ligula sit amet elit ornare
  tempor et ut ipsum. Proin quis vulputate mi, nec ultrices eros. Nulla facilisi. Praesent interdum in mi vel
  ultricies.

  Etiam elementum ante vel nulla porttitor, sit amet pulvinar libero varius. Sed blandit mi id lacus egestas posuere.
  Aenean sagittis nunc eu mauris pretium ornare. Donec a est nisi. Sed tempor arcu ut risus placerat, non scelerisque
  libero porttitor. Nulla elementum elementum nisl, ac imperdiet tellus egestas id. Vivamus vitae massa in mi blandit
  tincidunt. Aliquam ut purus eget mi placerat congue aliquam a lectus.

  Aenean lorem ligula, tincidunt at congue eu, ultricies vitae erat. Phasellus vulputate felis convallis tellus
  vestibulum, et vehicula libero pretium. Sed non ultricies velit. Donec gravida erat eget ipsum pretium laoreet.
  Proin non lectus facilisis, elementum eros sed, rutrum mi. Cras maximus lectus non semper imperdiet. Vivamus id elit
  in est vehicula auctor. Vestibulum quis diam nec augue dapibus maximus sed eu lorem. Donec vitae dui fermentum,
  luctus nisl sed, mollis ex. In aliquam interdum gravida. Aliquam vitae finibus massa, ut luctus nunc.

  Pellentesque sed massa sodales, luctus mauris nec, faucibus ex. Donec vel sollicitudin justo, eu pulvinar turpis.
  Praesent dictum mi a bibendum interdum. Vestibulum maximus lacinia justo, id placerat nisi porta ac. Aenean aliquam
  dui non tortor commodo, at dapibus elit mattis. Curabitur eleifend ante at justo facilisis laoreet. Mauris id
  pulvinar nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Fusce ornare
  vulputate imperdiet. Phasellus ut lacinia odio. In vitae mauris scelerisque, auctor felis eget, iaculis dui.
  Vestibulum vel tincidunt mi.

  Curabitur dignissim cursus leo nec congue. Curabitur a rhoncus turpis. Quisque maximus fringilla turpis, a hendrerit
  libero condimentum at. In hac habitasse platea dictumst. Integer quam urna, bibendum et odio quis, rutrum vehicula
  libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tempor pretium nisl, nec feugiat odio ornare
  et. Duis id nisl eros. Sed quis ipsum sed eros suscipit interdum. Pellentesque porttitor euismod euismod. Praesent
  lobortis erat eu erat dictum, vel fringilla elit iaculis. Curabitur ac enim et sapien venenatis tempus nec et elit.
  Fusce convallis tortor tempor elit mattis maximus. Phasellus quis arcu ornare, ultrices ligula suscipit, tincidunt
  enim. Donec feugiat, nibh id dignissim fermentum, purus nibh tincidunt lorem, sit amet dictum lorem purus at lorem.

  Aliquam at est tempus, porttitor elit ut, hendrerit ipsum. Proin elementum tincidunt egestas. Donec a purus in leo
  maximus suscipit. Duis non est laoreet lacus malesuada aliquet. Pellentesque venenatis ex sed nunc laoreet, ut
  cursus turpis sagittis. Sed sit amet lobortis libero. Integer nec libero diam. Aliquam malesuada commodo nisl.
  Vestibulum viverra tristique purus, ac feugiat nibh congue posuere. Donec at aliquam magna, ut imperdiet sem.
  Aliquam dapibus dolor eget dui mollis, sed porta lacus varius. Nulla id congue elit. Nunc ac eros non augue finibus
  pharetra. Suspendisse vitae justo vitae ipsum hendrerit vehicula. Sed augue urna, consectetur non orci id, tristique
  commodo mauris.

  Vestibulum blandit laoreet scelerisque. Aliquam erat volutpat. Praesent a congue velit, vitae ultrices nulla.
  Pellentesque sit amet nulla vitae neque auctor tincidunt non nec nisi. Aliquam metus risus, tempus eget porttitor
  nec, blandit eget justo. Vestibulum placerat eget lacus molestie pretium. In ultricies volutpat suscipit. Vestibulum
  nec est lectus. Nulla nec felis enim. Proin vitae metus vitae quam iaculis imperdiet sed eu dui. Nullam nec mauris
  tempor mauris facilisis sagittis non sed ante. Vivamus commodo mauris nec lacus cursus viverra. Ut consectetur diam
  est, non bibendum ligula volutpat vitae.

  Suspendisse at molestie velit. Nulla facilisi. Mauris sed risus quis neque posuere dignissim scelerisque et justo.
  Pellentesque non mauris sit amet felis ultricies malesuada et sit amet est. Phasellus suscipit consectetur semper.
  Fusce at tempus felis. Quisque congue urna in mauris feugiat, efficitur egestas est finibus. Curabitur tincidunt
  vestibulum erat, in iaculis magna faucibus ac. Vestibulum cursus commodo ligula ac fringilla. Aliquam felis risus,
  posuere vel scelerisque et, convallis eu odio.

  Ut accumsan pellentesque nisl ut lacinia. Vestibulum congue, augue vitae viverra aliquet, enim ex feugiat mauris,
  sed vehicula erat sem sed nunc. Aliquam est quam, rhoncus eu vehicula sit amet, vestibulum ac orci. Fusce et arcu id
  massa dapibus pretium. Aliquam consectetur iaculis magna, vitae consequat ligula porta sed. Morbi ut dictum velit,
  vitae tincidunt risus. Mauris nec dignissim est, vel scelerisque libero. Cras sem magna, tincidunt eget lacus a,
  porta dictum risus. Nulla hendrerit feugiat pretium. Aliquam euismod consectetur lacus vitae lobortis. Sed lobortis,
  libero sed facilisis fringilla, eros sapien consequat sapien, quis eleifend est lacus vitae mi. Integer viverra
  congue varius. Suspendisse hendrerit sollicitudin arcu non gravida. Etiam et molestie odio, non commodo libero.
  Integer tristique augue ut imperdiet pellentesque. Mauris sed dui in urna ultricies lobortis. Ut.

</app-layout-body-with-cover>
