<div
  class="
    flex
    justify-center
    w-full
    h-screen
  "
>
  <div
    class="
      pt-4
      flex
      flex-col
      space-y-2
      items-start
    "
  >
    <app-card
      title="Branding & Contact Information"
    >
      <div
        class="
          flex
          space-x-4
        "
      >
        <!--Logo-->
        <div
          class="
            flex
            flex-col
            items-center
            space-y-2
          "
        >
          <div
            style="background-image: url('https://via.placeholder.com/150')"
            class="
              bg-center
              bg-cover
              w-24
              h-24
            "
          ></div>
          <div>
            Upload
            <div
              style="background-image: url('assets/upload.svg')"
              class="
                inline-block
                bg-center
                bg-cover
                w-4
                h-4
              "
            ></div>
          </div>
        </div>
        <!--TODO: add the custom style to Tailwind-->
        <app-setting-items
          [items]="contactItems"
        ></app-setting-items>
      </div>
    </app-card>

    <app-card
      title="Social Media"
    >
      <app-setting-items
        [items]="socialMediaItems"
      ></app-setting-items>
    </app-card>

  </div>

</div>
