<div
  style="grid-template-columns: repeat(3, auto);"
  class="
    grid
    auto-rows-min
    gap-2
    items-center
  "
>
  <ng-container
    *ngFor="let item of items"
  >
    <div>{{item.displayText}}</div>
    <div>
      <input
        class="
          border-2
          rounded
          outline-none
          focus:ring-2
          disabled:opacity-50
        "
        [disabled]="item.editingState === 'closed'"
        [(ngModel)]="item.value"
      />
    </div>
    <div
      class="
        flex
        space-x-1
      "
    >
      <amber-icon
        *ngIf="item.editingState === 'closed'"
        (click)="item.editingState = 'editing'"
        (keyup.enter)="item.editingState = 'editing'"
        (keyup.space)="item.editingState = 'editing'"
        backgroundImageUrl="assets/edit.svg"
        size="1em"
      ></amber-icon>
      <amber-icon
        *ngIf="item.editingState === 'editing'"
        (click)="item.editingState = 'closed'"
        backgroundImageUrl="assets/close.svg"
        size="1em"
      ></amber-icon>
      <amber-icon
        *ngIf="item.editingState === 'editing' && item._values.length > 1"
        (click)="item.editingState = 'editing'; item.resetValue()"
        backgroundImageUrl="assets/undo.svg"
        size="1em"
      ></amber-icon>
      <amber-icon
        *ngIf="item.editingState === 'editing' && item._values.length > 1"
        (click)="item.editingState = 'closed'; item.saveValue()"
        backgroundImageUrl="assets/checkmark.svg"
        size="1em"
      ></amber-icon>
    </div>
  </ng-container>
</div>
