<div
  class="
    flex
    flex-col
    gap-y-4
  "
>
  <div
    style="grid-template-columns: repeat({{headerLabels.length}}, max-content)"
    class="
      grid
    "
  >
    <!--Header-->
    <ng-container
      *ngFor="let headerLabel of headerLabels"
    >
      <app-table-cell
        [tableCell]="createHeaderCell(headerLabel)"
      ></app-table-cell>
    </ng-container>

    <!--Content-->
    <ng-container
      *ngFor="let vehicleUsage of cookedContract.vehicleUsagesLog"
    >
      <app-table-cell
        [tableCell]="customCell"
      >
        {{vehicleUsage.dateCreatedDisplay}}
      </app-table-cell>
      <app-table-cell
        [tableCell]="customCell"
      >
        {{vehicleUsage.bikeModelData.name}}
      </app-table-cell>
      <app-table-cell
        [tableCell]="customCell"
      >
        {{vehicleUsage.amount}}
      </app-table-cell>
      <app-table-cell
        [tableCell]="customCell"
      >
        {{vehicleUsage.typeDisplay}}
      </app-table-cell>
      <app-table-cell
        [tableCell]="customCell"
      >
        actions...
      </app-table-cell>
    </ng-container>
  </div>


</div>
