<div
  class="
    relative
    flex
    flex-wrap
    items-center
    border-2
    pb-2
    pr-2
    outline-none
  "
  tabindex="0"
  (focusin)="showDropdown = true; input.focus()"
  (focusout)="showDropdown = false"
>
  <app-tag
    [label]="'first'"
  ></app-tag>
  <app-tag
    [label]="'second'"
  ></app-tag>
  <app-tag
    [label]="'third'"
  ></app-tag>
  <app-tag
    [label]="'fourth'"
  ></app-tag>
  <div
    #input
    class="
      flex-auto
      h-6
      ml-2
      mt-2
      pl-1
      pr-1
      outline-none
    "
    contenteditable="true"
  >
  </div>

  <app-tag-select-dropdown
    #dropdown
    [ngStyle]="tagSelectDropdownStyleService.calculate(currentHeight, availableDropdownHeight, dropdownHeight, showDropdown).styles"
    [ngClass]="tagSelectDropdownStyleService.calculate(currentHeight, availableDropdownHeight, dropdownHeight, showDropdown).classes"
  ></app-tag-select-dropdown>

</div>
