<div
  [ngStyle]="visibility ? {} : {visibility: 'hidden'}"
>
  <div
    class="
      bg-gray-200
      w-80
      rounded-lg
      p-2
      flex
      flex-col
      gap-1
      absolute
      outline-none
    "
    #mainBox
    [style.left.px]="x"
    [style.top.px]="y"
    (focusout)="visibility = false"
    tabindex="0"
  >
    <!--Navigation Bar and Title Cell-->
    <div
      class="
      flex
      items-center
      justify-between
    "
    >
      <amber-icon
        backgroundImageUrl="assets/cheveron-left.svg"
        size="1.25em"
        [disableTabIndex]="true"
        (click)="previous()"
      ></amber-icon>
      <app-calendar-cell
        [calendarCell]="titleCell"
      ></app-calendar-cell>
      <amber-icon
        backgroundImageUrl="assets/cheveron-right.svg"
        size="1.25em"
        [disableTabIndex]="true"
        (click)="next()"
      ></amber-icon>
    </div>

    <!--Day Selector-->
    <ng-container
      *ngIf="calendarDynamicService.calendarMode === 'month'"
    >
      <div
        class="
          grid
          grid-cols-7
          bg-gray-400
          p-1
          rounded-xl
        "
      >
        <ng-container
          *ngFor="let cell of dayOfWeekCells"
        >
          <app-calendar-cell
            [calendarCell]="cell"
          ></app-calendar-cell>
        </ng-container>
      </div>
      <div
        class="
          grid
          grid-cols-7
          p-1
          gap-y-1
        "
      >
        <ng-container
          *ngFor="let cell of dayOfMonthCells"
        >
          <app-calendar-cell
            [calendarCell]="cell"
          ></app-calendar-cell>
        </ng-container>
      </div>

    </ng-container>

    <!--Month Selector-->
    <ng-container
      *ngIf="calendarDynamicService.calendarMode === 'quarter'"
    >
      <div
        class="
          grid
          grid-cols-3
        "
      >
        <ng-container
          *ngFor="let cell of monthCells"
        >
          <app-calendar-cell
            [calendarCell]="cell"
          ></app-calendar-cell>
        </ng-container>
      </div>
    </ng-container>

    <!--Buttons-->
    <div
      class="
        flex
        justify-center
        gap-2
      "
    >
      <amber-button
        [disableTabIndex]="true"
        backgroundColor="#b8d1c2"
        borderColor="#b8d1c2"
        [action]="cancel.bind(this)"
      >
        <amber-icon
          backgroundImageUrl="assets/close.svg"
          size="1em"
          [disableTabIndex]="true"
        ></amber-icon>
        <div>
          Cancel
        </div>
      </amber-button>
      <amber-button
        backgroundColor="#4bdb84"
        borderColor="#4bdb84"
        [disableTabIndex]="true"
        [disabled]="!calendarDynamicService.allowAction()"
        [action]="calendarDynamicService.action.bind(calendarDynamicService)"
      >
        <amber-icon
          backgroundImageUrl="assets/checkmark.svg"
          size="1em"
          [disableTabIndex]="true"
        ></amber-icon>
        <div>
          Accept
        </div>
      </amber-button>
    </div>

    <!--Message-->
    <div
      *ngIf="calendarDynamicService.message"
      class="
        px-4
        py-2
        font-semibold
      "
    >
      {{calendarDynamicService.message}}
    </div>
  </div>
</div>

