<div
  class="
    flex
    items-center
    bg-black
    text-white
    h-20
    pl-12
    pr-12
  "
>
  <!--Social media buttons-->
  <div
    class="
      flex-initial
      items-center
      flex
    "
  >
    <!--Text-->
    <div
      class="
        text-lg
      "
    >
      Reach us via
    </div>
  <!--Facebook-->
    <div
      style="background-image: url('assets/facebook.svg');"
      class="
        ml-4
        flex-initial
        w-8
        h-8
        bg-center
        bg-cover
      "
    >
    </div>
    <!--Zalo-->
    <div
      style="background-image: url('assets/zalo.png');"
      class="
        rounded
        ml-4
        flex-initial
        w-8
        h-8
        bg-center
        bg-cover
      "
    >
    </div>
    <!--TODO: Standardize the icons-->
    <!--WhatsApp-->
    <div
      style="background-image: url('assets/social-whatsapp-circle-512.webp');"
      class="
        ml-3
        flex-initial
        w-8
        h-8
        bg-center
        bg-cover
      "
    >
    </div>
    <!--Email-->
    <div
      class="
        ml-3
      "
    >
      <div
        class="
          flex
          items-center
        "
      >
        <div
          style="
            background-image: url('assets/email.webp');
            filter: invert(100%);
          "
          class="
            flex-initial
            w-4
            h-4
            mr-1
            bg-center
            bg-cover
          "
        >
        </div>
        <div>
          Email: {{commonPageData.footerData.email}}
        </div>
      </div>
      <div
        class="
          flex
          items-center
        "
      >
        <div
          style="
            background-image: url('assets/hotline.webp');
            filter: invert(100%);
          "
          class="
            flex-initial
            w-4
            h-4
            mr-1
            bg-center
            bg-cover
          "
        >
        </div>
        <div>
          Hotline: {{commonPageData.footerData.phoneNumber}}
        </div>
      </div>

    </div>


  </div>
  <!--Spacer-->
  <div
    class="flex-auto"
  ></div>
  <!--Contact Information-->
  <div
    class="
      flex-initial
      items-center
      flex
    "
  >
    <div
      class="
        text-lg
      "
    >
      Visit us at
    </div>
    <div
      class="
        ml-4
      "
    >
      <div
        class="
          flex
          items-center
        "
      >
        <div
          style="
            background-image: url('assets/shop-512.webp');
            filter: invert(100%);
          "
          class="
            flex-initial
            w-4
            h-4
            mr-1
            bg-center
            bg-cover
          "
        >
        </div>
        <div>
          Shop: {{commonPageData.footerData.shopAddress}}
        </div>
      </div>
      <div
        class="
          flex
          items-center
        "
      >
        <div
          style="
            background-image: url('assets/tool-17-512.webp');
            filter: invert(100%);
          "
          class="
            flex-initial
            w-4
            h-4
            mr-1
            bg-center
            bg-cover
          "
        >
        </div>
        <div>
          Warehouse: {{commonPageData.footerData.warehouseAddress}}
        </div>
      </div>
    </div>
  </div>
</div>
