<div
  class="
    flex
    items-center
  "
>
  <div
    style="
      background-size: 0.6em;
    "
    class="
      flex-initial
      w-5
      h-5
      bg-center
      bg-no-repeat
      cursor-pointer
      rounded
      border-2
      hover:bg-amber-600
      hover:border-amber-600
    "
    [style.background-image]="(checked ? ('assets/checkmark-white.svg' | urlWrap) : '')"
    [ngClass]="checked ? ['bg-amber-600', 'border-amber-600'] : []"
    (click)="checked = !checked"
  ></div>
  <div
    class="
      ml-2
    "
  >
    <ng-content></ng-content>
  </div>
</div>
