@page
@using DataAccessingService.ContentManagementService
@model EndUserView.Pages.AboutUs

@{
    // Layout = null;
}

<div class="">
    @AboutUsContentController.GetAboutUsContent().RawHTMLString
</div>

