@tailwind base;
@tailwind components;
@tailwind screens;
@tailwind utilities;
//@import "~tailwindcss"

$primary: #81899b;

html {
  scrollbar-width: none;
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

html::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
