@tailwind base;
@tailwind components;
@tailwind screens;
@tailwind utilities;
//@import "~tailwindcss"

$primary: #81899b;

html {
  scrollbar-width: none;
  overflow-x: hidden;
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

html::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
