<div
  class="
    border-2
    p-2
    rounded-lg
    flex
    flex-col
  "
>
  <div
    class="
      text-xl
    "
  >
    {{title}}
  </div>
  <div
    style="grid-template-columns: 20em repeat(4, 1fr);"
    class="
      grid
    "
    *ngIf="isTableForSale"
  >
    <ng-container
      *ngFor="let display of tableStaticService.saleHeaderDisplays"
    >
      <div
        class="
          font-semibold
          p-1
          flex
          justify-center
          items-center
        "
      >
        {{display}}
      </div>
    </ng-container>
    <ng-container
      *ngFor="let row of rowsForSale"
    >
      <div
        class="
          p-1
          flex
          justify-center
          items-center
        "
      >
        <div
          [style]="{backgroundImage: row.imageUrl | urlWrap}"
          class="
            bg-center
            bg-cover
            w-60
            h-40
          "
        ></div>
      </div>
      <div>
        {{row.bikeName}}
      </div>
      <div>
        {{row.priceDisplay}}
      </div>
      <div
        class="
          p-1
          flex
          justify-center
          items-center
          gap-2
        "
      >
        <amber-icon
          backgroundImageUrl="assets/plus.svg"
          size="1em"
        ></amber-icon>
        <input
          [(ngModel)]="row.amount"
          type="number"
          min="1"
          class="
            text-center
            w-20
            outline-none
            border-2
            rounded
          "
        />
        <amber-icon
          backgroundImageUrl="assets/minus.svg"
          size="1em"
        ></amber-icon>
      </div>
      <div>
        {{row.total}}
      </div>
    </ng-container>
  </div>

</div>
