<app-content-layout
>
  <app-table-master
    [columnCount]="headerCells.length"
  >

    <ng-container>
      <app-table-cell
        [tableCell]="customCell"
        [extendedClasses]="['col-span-full']"
      >
        <div
          class="
            flex
            justify-between
            gap-2
          "
        >
          <div
            class="
              text-xl
              font-semibold
            "
          >
            Bike List
          </div>
          <div
            class="
              flex
              gap-1
              items-center
            "
          >
            <amber-icon
              backgroundImageUrl="assets/refresh.svg"
              size="1.25em"
              (click)="reload()"
            ></amber-icon>
            <amber-icon
              backgroundImageUrl="assets/search.svg"
              size="1.25em"
              (click)="displaySearch = true"
            ></amber-icon>
            <amber-icon
              backgroundImageUrl="assets/add-outline.svg"
              size="1.25em"
              (click)="newCookedBikeModel.displayDetails = true"
            ></amber-icon>
            <app-bike-details
              [cookedBikeModel]="newCookedBikeModel"
            ></app-bike-details>
          </div>
        </div>
      </app-table-cell>
    </ng-container>

    <ng-container>
      <app-table-cell
        *ngFor="let headerCell of headerCells"
        [tableCell]="headerCell"
      ></app-table-cell>
    </ng-container>

    <ng-container
      *ngFor="let cookedBikeModel of cookedBikeModels"
    >
      <app-table-cell
        [tableCell]="customCell"
      >
        <div
          class="
            h-40
            w-60
            bg-center
            bg-cover
          "
          [style.backgroundImage]="cookedBikeModel.mediaFiles[0].source | urlWrap"
        >
        </div>
      </app-table-cell>
      <app-table-cell
        [tableCell]="customCell"
      >
        {{cookedBikeModel.modelData.name}}
      </app-table-cell>

      <app-table-cell
        [tableCell]="customCell"
      >
        {{cookedBikeModel.modelData.type}}
      </app-table-cell>

      <app-table-cell
        [tableCell]="customCell"
      >
        <ng-container
          *ngFor="let usageType of cookedBikeModel.modelData.possibleUsageTypes"
        >
          {{bikePurposesMap[usageType]}} <br/>
        </ng-container>
      </app-table-cell>
      <app-table-cell
        [tableCell]="customCell"
      >
        <div
          class="
            flex
            gap-1
          "
        >
          <amber-icon
            backgroundImageUrl="assets/zoom-in.svg"
            size="1.25em"
            (click)="cookedBikeModel.displayDetails = true"
          ></amber-icon>
          <amber-icon
            backgroundImageUrl="assets/view-show.svg"
            size="1.25em"
          ></amber-icon>
          <amber-icon
            backgroundImageUrl="assets/view-hide.svg"
            size="1.25em"
          ></amber-icon>
        </div>
        <app-bike-details
          [cookedBikeModel]="cookedBikeModel"
        ></app-bike-details>
      </app-table-cell>
    </ng-container>

    <ng-container>
      <div
        class="
          p-2
          col-span-full
          flex
          flex-row-reverse
        "
      >
        <amber-paginator
          [(current)]="page"
          [total]="total"
        ></amber-paginator>
      </div>
    </ng-container>
  </app-table-master>

  <amber-modal
    [(display)]="displaySearch"
    title="Search"
  >
    <amber-dynamic-form
      [dynamicFormGroups]="bikeSearchDynamicFormGroups"
    ></amber-dynamic-form>
  </amber-modal>
</app-content-layout>
