<div
  class="
    border-2
    p-2
    rounded-lg
    flex
    flex-col
  "
>
  <div
    class="
      text-xl
    "
  >
    {{title}}
  </div>
  <div
    style="grid-template-columns: 20em repeat(6, 1fr) 15em;"
    class="
      grid
    "
  >
    <!--Header Row-->
    <ng-container
      *ngFor="let display of tableStaticService.rentalHeaderDisplays"
    >
      <div
        class="
          font-semibold
          p-1
          flex
          justify-center
          items-center
          border-b-2
          mb-1
        "
      >
        {{display}}
      </div>
    </ng-container>
    <!--Rows-->
    <ng-container
      *ngFor="let row of rows"
    >
      <app-table-row-for-rent
        [itemStoreName]="itemStoreName"
        [row]="row"
      ></app-table-row-for-rent>
    </ng-container>
    <!--Total-->
    <ng-container>
      <div
        class="
          col-span-7
        "
      ></div>
      <div
        class="
          p-1
          flex
          justify-center
          items-center
        "
      >
        {{total}} USD
      </div>

    </ng-container>
  </div>

</div>
