https://amber.nguyenhuythanh.com {
    try_files {path} /
    file_server browse
    root * /var/www/amber
}

https://amber-admin.nguyenhuythanh.com {
    try_files {path} /
    file_server browse
    root * /var/www/amber-admin
}

https://amber-api.nguyenhuythanh.com {
    reverse_proxy localhost:5000
}
