<amber-modal
  [(display)]="display"
  title="Contract Details"
>
  <div
    class="
      flex
      flex-col
      gap-y-4
    "
  >
    <div
      class="
        flex
        gap-x-8
      "
    >
      <div>
        <div
          class="text-lg"
        >
          State
        </div>
        <app-contract-state
          [(state)]="cookedContract.stateValue"
        ></app-contract-state>
      </div>
      <div>
        <div
          class="text-lg"
        >
          Customer Data
        </div>
        <app-customer-data
          [customerData]="cookedContract.customerData"
        ></app-customer-data>
      </div>
    </div>
    <div
      class="
        flex
        flex-col
        gap-y-4
      "
    >
      <div>
        <div
          class="
            text-lg
          "
        >
          Note
        </div>
        <div
          class="
            p-4
          "
        >
          <textarea
            amberCommonInputText
            cols="60"
            rows="6"
            [(ngModel)]="cookedContract.contractData.note"
          ></textarea>
        </div>

      </div>
      <div
        class="
          text-lg
        "
      >
        Vehicle List
      </div>
      <div
        style="grid-template-columns: repeat({{headerLabels.length}}, max-content)"
        class="
          grid
        "
      >
        <!--Header-->
        <ng-container
          *ngFor="let headerLabel of headerLabels"
        >
          <app-table-cell
            [tableCell]="createHeaderCell(headerLabel)"
          ></app-table-cell>
        </ng-container>

        <!--Body-->
        <ng-container
          *ngFor="let vehicleUsage of cookedContract.vehicleUsages; let index = index"
        >

          <!--Bike Name-->
          <app-table-cell
            [tableCell]="customCell"
          >
            <div>{{vehicleUsage.bikeModelData.name}}</div>
          </app-table-cell>

          <!--Price-->
          <app-table-cell
            [tableCell]="customCell"
          >
            <div>{{vehicleUsage.price}} USD</div>
          </app-table-cell>

          <!--Number Plates-->
          <app-table-cell
            [tableCell]="customCell"
          >
            <div
              class="
                flex
                flex-col
                gap-2
              "
            >
              <div
                *ngFor="let numberPlate of vehicleUsage.numberPlates"
              >
                {{numberPlate}}
              </div>
            </div>
          </app-table-cell>

          <!--Purpose-->
          <app-table-cell
            [tableCell]="customCell"
          >
            <div>{{vehicleUsage.typeDisplay}}</div>
          </app-table-cell>

          <!--Date End-->
          <app-table-cell
            [tableCell]="customCell"
          >
            <div
            >
              {{vehicleUsage.dateEndDisplay}}
            </div>

          </app-table-cell>

          <!--Total-->
          <app-table-cell
            [tableCell]="customCell"
          >
            <div>
              {{vehicleUsage.total}} USD
            </div>
          </app-table-cell>

          <!--Actions-->
          <div
            class="
              flex
              gap-2
              items-center
              justify-center
              border-b-2
            "
          >
            <amber-icon
              *ngIf="!vehicleUsage.removing"
              backgroundImageUrl="assets/edit.svg"
              size="1em"
              (click)="selectedUsage = copyVehicleUsage(vehicleUsage); displayUsage = true; selectedUsageIndex = index"
            ></amber-icon>
            <amber-icon
              *ngIf="!vehicleUsage.removing"
              backgroundImageUrl="assets/trash.svg"
              size="1em"
              (click)="vehicleUsage.removing = true"
            ></amber-icon>
            <amber-icon
              *ngIf="vehicleUsage.removing"
              backgroundImageUrl="assets/checkmark.svg"
              size="1em"
              (click)="remove(index)"
            ></amber-icon>
            <amber-icon
              *ngIf="vehicleUsage.removing"
              backgroundImageUrl="assets/close.svg"
              size="1em"
              (click)="vehicleUsage.removing = false"
            ></amber-icon>
          </div>

        </ng-container>

        <!--Footer-->
        <ng-container>
          <div
            style="grid-column: span {{headerLabels.length - 1}} / span {{headerLabels.length - 1}}"
            class="
              py-2
              px-4
              flex
              justify-between
            "
          >
            <div>
              <amber-icon
                backgroundImageUrl="assets/add-solid.svg"
                size="1.25em"
                (click)="selectedUsage = VehicleUsageFactory.createDefault(); displayUsage = true; selectedUsageIndex = -1"
              ></amber-icon>
            </div>
            <div
              class="font-semibold"
            >
              Paid {{cookedContract.totalPaid}} / {{cookedContract.total}} USD
            </div>
          </div>
          <div
            class="
              py-2
              px-4
              flex
              justify-between
            "
          >
            <amber-icon
              backgroundImageUrl="assets/dollar.svg"
              size="1.25em"
              (click)="cookedContract.displayPayments = true"
            ></amber-icon>
          </div>
        </ng-container>
      </div>
      <div
        class="
          flex
          flex-row-reverse
          gap-2
        "
      >
        <amber-button
          backgroundColor="#4bdb84"
          borderColor="#4bdb84"
          [action]="accept.bind(this)"
        >
          <amber-icon
            backgroundImageUrl="assets/checkmark.svg"
            size="1em"
          ></amber-icon>
          Accept
        </amber-button>
        <amber-button
          backgroundColor="#b8d1c2"
          borderColor="#b8d1c2"
          (click)="display = false"
        >
          <amber-icon
            backgroundImageUrl="assets/close.svg"
            size="1em"
          ></amber-icon>
          Cancel
        </amber-button>
      </div>
    </div>
  </div>
</amber-modal>

<amber-modal
  [(display)]="displayUsage"
  title="Vehicle Usage Details"
>
  <app-vehicle-usage-details
    [vehicleUsage]="selectedUsage"
    (acceptEventEmitter)="acceptUsageChange($event)"
    (cancelEventEmitter)="displayUsage = false"
  ></app-vehicle-usage-details>
</amber-modal>

<amber-modal
  [(display)]="cookedContract.displayPayments"
  title="Payment Details"
>
  <app-payment-details
    [cookedContract]="cookedContract"
  ></app-payment-details>
</amber-modal>

<amber-modal
  [(display)]="cookedContract.displayUsagesLog"
  title="Vehicle Usages Log"
>
  <app-vehicle-usage-logs
    [cookedContract]="cookedContract"
  ></app-vehicle-usage-logs>
</amber-modal>
