//@import "./css/tailwind-base.scss";
//@import "./css/tailwind-components.scss";
//@import "./css/tailwind-screens.scss";
//@import "./css/tailwind-utilities.scss";

html {
  scrollbar-width: none;
  overflow-x: hidden;
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

html::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
