<div
  class="
    py-8
    px-60
    flex-col
    gap-8
  "
>
  <!--Image and Description-->
  <div
    class="
      flex
      gap-8
    "
  >
    <!--Image-->
    <div
      style="width: 60em; height: 40em;"
      class="
        bg-gray-400
      "
    >
      <app-home-gallery
        [images]="item.images"
      >
      </app-home-gallery>
    </div>
    <!--Descriptions-->
    <div
      class="
        flex
        flex-col
        gap-2
      "
    >
      <div
        class="
          text-xl
        "
      >
        {{item.name}}
      </div>
      <div
        style="grid-template-columns: repeat(3, auto)"
        class="
        grid
        gap-1
        items-center
      "
      >
        <app-item-card-row
          label="Price for Sale:"
          value="{{item?.priceForSaleDisplay}}"
          *ngIf="item?.priceForSaleDisplay"
          icon="cart"
          [item]="item"
          itemStoreName="forSale"
        ></app-item-card-row>
        <app-item-card-row
          label="Price for Rent:"
          value="{{item?.priceForRentInsideCityDisplay}}/day inside city"
          *ngIf="item?.priceForRentInsideCityDisplay"
          icon="calendar"
          [item]="item"
          itemStoreName="dailyInsideCity"
        ></app-item-card-row>
        <app-item-card-row
          label=""
          value="{{item?.priceForRentTravelingDisplay}}/day traveling"
          *ngIf="item?.priceForRentTravelingDisplay"
          icon="calendar"
          [item]="item"
          itemStoreName="dailyTraveling"
        ></app-item-card-row>
        <app-item-card-row
          label=""
          value="{{item?.priceForRentMonthlyDisplay}}/month"
          *ngIf="item?.priceForRentMonthlyDisplay"
          icon="calendar"
          [item]="item"
          itemStoreName="monthly"
        ></app-item-card-row>

        <ng-container>
          <div>Capacity:</div>
          <div>{{item.capacity}}cc</div>
          <div></div>
        </ng-container>

        <ng-container>
          <div>Type:</div>
          <div>{{item.typeDisplay}}</div>
          <div></div>
        </ng-container>

        <ng-container>
          <div>Description:</div>
          <div
            class="
              col-span-2
            "
          >
            {{item.description}}
          </div>
          <div></div>
        </ng-container>
      </div>
    </div>
  </div>
  <!--Pictures-->
</div>
